
<header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i> tweeter</h1></a>

  